*{
    margin: 0px;
    padding: 0px;
}

.menu{
    margin-left: 48px;
    font-size: 25px;
    font-variant-caps: all-small-caps;
    color: rgb(0, 0, 0);
    position: fixed;
}

header{
    background-image: url(../img/fitness-7458603_960_720.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
.intro {
    max-width: 1500px;
    height: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
    position: absolute;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    margin-top: 200px;
}

.col-2 h1 {
    font-size: 80px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-3 {
    flex-basis: 50%;
    min-width: 300px;
}
.Vivien{
    font-variant: all-small-caps;
    text-align: left;
    margin-bottom: 5px;
    color: rgb(118, 30, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tap{
    text-align: left;
    font-size: 43px;
    color: rgba(54, 87, 28, 0.872);
}
.container-kapcsolat img{
    padding-top: 100px;
    height: 450px;
    float: left;
    padding-right: 80px;
    padding-left: 15px;

}
.main{
    display: flex;
    justify-content: center;
    background-color: beige;
    font-size: 25px;
    font-variant: small-caps;
}
.kapcsolatok{

    justify-content: center;
    background-color: beige;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    height: 455px;
}

/* Kapcsolat Modifikaciok */

.kapcsolatt{
    padding-top: 125px;
    padding-left: 100px;

}
.vonal{
    border: none; 
    height: 2px; 
    background-color: #000000; 
    width: 260px;
    margin-left: 55px
    
}
.szoveg{
    font-size: 22px;
    height: 5px;
    padding-right: 10px;
    padding-left: 100px;
}
.nev{
    font-size: 22px;
    height: 5px;
    padding-top: 100px;


}
.email{
    font-size: 22px;
    height: 5px;
    padding-left: 155px;

}
.subscribe-form input[type="text"],
.subscribe-form input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 25px; /* Margó a mezők között */
    height: 45px;
    font-size: 18px;
    width: 500px;
    padding-left: 35px;
    font-variant: small-caps;
}

.privacy-policy {
    margin: auto;
    text-align: right;
    font-size: 22px;
    margin-right: 120px;
    
}

.privacy-policy input[type="checkbox"] {
    margin-right: 10px;
}
.gomb{
    float: right;
    margin-right: 275px;
    size: 5px;
    font-variant: small-caps;
    margin-top: 25px;
}

.subscribe-form button {
    padding: 5px 15px;
    font-size: 22px;
    background-color: #a82b1a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.subscribe-form button:hover {
    background-color:  #a82b1ac9;
}









.container2{
    padding-left: 350px;
}
.container2 img{
    box-shadow: -50px 15px 50px red;
}
.left{
    float: left;
}
.right{
    padding-left: 370px;
}
h5{
    font-size: 55px;
}
.right-side {
    flex: 1;
    background-image: url('../img/eletmod.svg'); 
    background-size: cover;
    background-position: center;
}

.kepslide{
    float: right;
    width: 720px;
    height: 520px;
}

@keyframes appear{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);

    }
}

    .block {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }


.kontener{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
}

.kartya{
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.kartya h2{
    margin: 0 0 10px;
}

.kartya p{
    margin: 0;
}

.kartya-cim{
    margin-top: 80px;
}

.szinpenz{
    color: green;
    font-weight: bold;
}