/* Egesz webeloldalra Modifikaciok */


* {
    margin: 0px;
    padding: 0px;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);

    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}



/* Menu Modifikaciok */






.menu > li {
    position: relative;
    margin: 0 15px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: beige;
    list-style: none;
    padding: 10px;
    margin: 0;
    min-width: 200px;
    z-index: 1;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li {
    margin: 5px 0;
}

.submenu a {
    color: black;
    padding: 5px 10px;
    display: block;
}

.submenu a:hover {
    background-color: rgb(206, 206, 180);
}

.offcanvas {
    width: 100%;
    height: 100%;
    right: 0;
    background-color: beige
}



.menu1 {
    margin-left: 48px;
    font-size: 25px;
    font-variant-caps: all-small-caps;
    color: rgb(0, 0, 0);
    position: fixed;
}

.felso{
    margin-bottom: 5px;
    height: 5px; 
    background-color: #000000;
    width: 350px;
}
.alsovon{
    margin-left: 10px;
    margin-bottom: 5px;
    height: 5px; 
    background-color: #000000;
    width: 380px;
}
.menupont{
    text-align: left;
    padding-left: 50px;
    font-variant: small-caps;
    font-size: 23px;
}

/* Bevezeto Modifikaciok */



header {
    background-image: url(../img/fitness-7458603_960_720.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

a {
    text-decoration: none;
    color: #555;
}

.intro {
    max-width: 1500px;
    height: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
    position: absolute;
}


/* Coloumn Modifikaciok */

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    margin-top: 200px;
}

.col-2 h1 {
    font-size: 80px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-3 {
    flex-basis: 50%;
    min-width: 300px;
}

/* Egyeb Modifikaciok */

.Vivien {
    font-variant: all-small-caps;
    text-align: left;
    margin-bottom: 5px;
    color: rgb(118, 30, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tap {
    text-align: left;
    font-size: 43px;
    color: rgba(54, 87, 28, 0.872);
}


/* Foresz Modifikaciok */

.main {
    display: flex;
    justify-content: center;
    background-color: beige;
    font-size: 30px;
    font-variant: small-caps;
    position: sticky;
    top: 0;
    backdrop-filter: blur(45px);
    z-index: 1;

}

/* Also Modifikaciok */

.also {
    background-color: rgb(146, 46, 46);
    height: 250px;

}


/* Gomb Modifikaciok */



.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    width: 750px;
}

.btn1:hover {
    background-color: #ff523b;
}

.btn1 {
    background: #ff523b;
    color: #000000;
    padding: 8px 30px;
    margin: 30px 0;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 460px;
    border-radius: 30px;
    width: 1250px;
    text-align: center;
}

.btn:hover {
    background-color: #ff523b;
}
/* Lista Modifikaciok */


.listakapcs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listakapcs li {
    text-decoration: none;
}


/* Container Modifikaciok */


.container-kapcsolat img {
    padding-top: 100px;
    height: 450px;
    float: left;
    padding-right: 80px;
    padding-left: 15px;
    z-index: 2;

}

.container1 {
    max-width: 3000px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: beige;
}

.container2 {
    padding-left: 350px;
}

.container2 img {
    box-shadow: -50px 15px 50px red;
}


/* Kapcsolat Modifikaciok */

.kapcsolatok {

    justify-content: center;
    background-color: beige;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    height: 455px;
}

.content {
    flex: 1;
    padding: 20px;
    max-width: 1050px;
}

.content h1 {
    color: #4a4a4a;
}

.content p {
    color: #6a6a6a;
}

.vonal {
    border: 1px solid #5C3E3E;
    margin: 10px 0;
    width: 500px;
}

.form {
    flex: 1;
    padding: 20px;
    max-width: 400px;
    background-color: #5b8f5b9a;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form label {
    color: #4a4a4a;
    margin-top: 10px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 25px;
    font-family: sans-serif;
}

.checkbox {
    display: block;
    align-items: center;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.checkbox input {
    margin-right: 10px;
}

.feliratkozas {
    background-color: #7B3E3E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
}

.feliratkozas:hover {
    background-color: #5C3E3E;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .content,
    .form {
        max-width: 100%;
        margin: 10px 0;
    }
}


/* Cikk */

.cikk {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #3E5B10;
}

.kartyak-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kartyak {
    background-color: beige;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    flex: 1 1 calc(25% - 30px);
    min-width: 240px;
    text-align: center;
}

.kartyak h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #7B4C30;
}

.kartyak p {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer {
    font-style: italic;
    color: #888;
}


/* Szolgaltasok */

.szolgaltatasok {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.szolgaltatasok h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #7a5b5d;
}

.szolgaltatasok p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1px;
    flex: 1 1 calc(25% - 20px);
    position: relative;
    overflow: hidden;
}

.service-card img {
    width: 100%;
    height: auto;
}

.service-card h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(122, 91, 93, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .service-card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .service-card {
        flex: 1 1 100%;
    }
}

.szoveg{
    font-size: 23px;

}
.szoveg a{
    color: wheat;
}
.szoveg1{
    font-size: 23px;
}
/* Bal-Jobb Modifikaciok */


.left {
    float: left;
}

.right {
    padding-left: 370px;
}

.right-side {
    flex: 1;
    background-image: url('../img/eletmod.svg');
    background-size: cover;
    background-position: center;
}


.kepslide {
    float: right;
    width: 720px;
    height: 520px;
}


/* H Modifikaciok */

h5 {
    font-size: 55px;
}



/* Szolgaltatasok Modifikaciok */

.kontener {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.kartya {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.kartya h2 {
    margin: 0 0 10px;
}

.kartya p {
    margin: 0;
}

.kartya-cim {
    margin-top: 80px;
}

.szinpenz {
    color: green;
    font-weight: bold;
}

/* Footer Modifikaciok */



.footermain {
    display: flex;
    justify-content: center;
    background-color: beige;
    font-size: 25px;
    font-variant: small-caps;
    position: sticky;
    top: 0;
    backdrop-filter: blur(45px);
    z-index: 1;

}

.footer-distributed {
    background: beige;
    width: 100%;
    text-align: right;
    font-size: 20px;
    padding: 33px;
    position: absolute;
}

.footer-center {
    margin-top: 5px;

}

.kapcsolat1 {
    text-align: center;
}

.footer-vonal {
    border: none;
    height: 2px;
    background-color: #000000;
    width: 1000px;
    margin-left: 425px;
    padding-bottom: 3px;
    margin-bottom: 50px;
}

.cardbutton{
    width: 300px;
}

.jogacard{
    float: right;
    margin-left: 15px;
    text-align: center;
    background: #b1b1b1;
}

.tanacsfelirat{
    margin-left: 10px;
    margin-bottom: 15px;
    
}