*{
    margin: 0px;
    padding: 0px;
}

.menu{
    margin-left: 48px;
    font-size: 25px;
    font-variant-caps: all-small-caps;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.216),rgba(0, 0, 0, 0.216),rgba(0, 0, 0, 0.216)), url(../img/eletmod.svg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
.intro {
    max-width: 1500px;
    height: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    margin-top: 200px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.Vivien{
    font-variant: all-small-caps;
    text-align: left;
    margin-bottom: 5px;
    color: rgb(118, 30, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tap{
    text-align: center;
    color: rgba(41, 70, 13, 0.872);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.left-side {
    flex: 1;
    background-color: white;
    padding: 20px;
}

.right-side {
    flex: 1;
    background-image: url('../img/eletmod.svg'); 
    background-size: cover;
    background-position: center;
}

.kepslide{
    float: right;
    width: 720px;
    height: 520px;
}

.bloghatter{
    background: rgba(182, 203, 189, 1);
}